fieldset.dataBlock {
    width: 30em;
}

fieldset.formRow {
    border:none;
}

fieldset.formRow > input {
    margin-left:1em;
}

fieldset.addressFormRow {
    border:none;
}

fieldset.addressFormRow > label {
    display: inline-block;
    width: 10em;
    text-align: left;
}