fieldset.dataBlock {
    width: 80%;
}

fieldset.formRow {
    border:none;
}

fieldset.formRow > input {
    margin-left:1em;
}

fieldset.addressFormRow {
    border:none;
}

fieldset.addressFormRow > label {
    display: inline-block;
    width: 30%;
    text-align: left;
}
#defaultDeliveryPoint{
    user-select: none;
}

.button-group{
    display:block;
    margin:auto;
    text-align: center;
}

.button-group > button{
    margin-left: 1em;
}


.delivery-point-name {
    display: inline-block;
    width: 7em;
}

.delivery-point-hours {
    display: inline-block;
    width: 12em;
}
