#deliveryPointsTable{
    border-collapse: collapse;
}

tr {
    cursor: pointer;
    user-select: none;
    font-size: 90%;
}

tr:hover {
    background-color:lightblue;
}

/* .occupancy-bar{
    background-color: black;
    width: 7em;
    padding-right: 1em;
}

.occupancy-bar > div{
    background-color: orange;
} */