#deliveryPointsTable{
    border-collapse: collapse;
}

tr {
    cursor: pointer;
    user-select: none;
}

tr:hover {
    background-color:lightblue;
}

/* .occupancy-bar{
    background-color: black;
    width: 10em;
}

.occupancy-bar > div{
    background-color: orange;
} */